@import '~bootstrap/scss/bootstrap';

// html {
//   height: 100%;
//   width: 100%;
// }
body {
  background-image: url('public/dark-wall-wallpaper-2.jpg');
    // background-image: url('https://i.imgur.com/Ac09Ts7.jpg');
  // background-color: black;
  // background-blend-mode: screen;
  // background-size: 100% 100%;
  background-size: 1450px 1280px;
  background-repeat: no-repeat;
  opacity: 2;
  height: 1000px;
  padding-bottom: 50px;
  width: 100%;
}

header {
  color: #fff;
  font-family: 'Special Elite', cursive;
  font-size: 100em;
  text-align: center;
  padding-top: 30px;
}

h1 {
font-size: .1em;
opacity: .7;
}

#message {
  text-align: center;
}

input {
  align-items: center;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: #fff;
  font-size: 18px;
  font-weight: 100px;
  outline: none;
  text-align: center;
  transition: border 0.5s;
  opacity: .7;
}

::placeholder {
  color: #fff;
}

.create-team {
  margin-bottom: 15px;
  margin-top: 10px;
}

.container {
  margin-top: 100px;
  text-align: center;
}

.BoxOne {
  color: white;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 200px;
  // width: 26px;
  // float: left;
  // text-align: center;
}

form {
  // margin-bottom: 50px;
  padding: 20px;
}
